* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;


}
a, a:link, a:visited, a:hover, a:active { 
        text-decoration: none;
        color: white;
        font-size: 20px;
}

.wrapp {
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
    
}
header {
    margin-top: 30px;
}


.header-nav-li {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 30px;
    background: rgb(32, 173, 173);
    
}

.photo-name {
display: flex;
flex-wrap: wrap;
background-color: rgb(79, 87, 94);
}

.name {
  margin: 130px auto;
  font-size: 30px;
  color: rgb(32, 173, 173);
}